@import "variableGlobal";

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.footerimg {
    width: 100%;
    max-width: 140px;
}

.backimg {
    background-image: url(../images/inicio3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.backimg2 {
    @extend .backimg;
    background-image: url(../images/inicio2.jpg);
}

.title {
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    padding: 1.5rem 1rem;
    margin: 0;
}

.firstp {
    text-align: center;
    font-size: 1.125rem;
    color: #fff;
    padding: 1em 20%;
    margin: 0;
}

.button {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
    background-color: $colorPrincipal;
    border-radius: 100px;
    padding: 0.7em 1em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
}

.button2 {
    margin: 1.4em 0.5em 2.5rem 0.5em;
}

.logo {
    width: 60%;
}

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom-color: rgba(51, 51, 51, 0.1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: 600;
    min-height: 12vh;
}

nav {
    ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0 20px;

        li {
            list-style-type: none;
            font-size: 14px;
        }
    }
}

.principal {
    color: rgb(0, 122, 121);
    text-align: right;
}

li {
    list-style-type: none;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: $colorPrincipal;
}

footer {
    background-color: $colorPrincipal;
    font-weight: 600;
    border-top-color: rgba(51, 51, 51, 0.1);
    border-top-style: solid;
    border-top-width: 1px;
    color: #fff;
    min-height: 15vh;
}

@mixin icons($width, $height, $margin) {
    width: $width;
    height: $height;
    margin: $margin;
    min-width: 19px;
    min-height: 19px;
}

.icon {
    @include icons(2.3vw, 2.3vw, 0.6vw)
}

.mailicon {
    @include icons(2.4vw, 2.4vw, 0.6vw)
}

.servicios-icon {
    @include icons(1.3em, 1.3em, 0 0.5em 0 0)
}

main {
    padding: 12vh 0 0 0;
    min-height: 85vh;
}

.margin {
    margin: 0 18vw;
}

h2, h3 {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

p {
    text-align: center;
}

.parrafoserv {
    margin: 0;
    font-size: 1.125rem;
    padding: 1rem;
}

.servicios {
    padding: 2.5%;
    border-radius: 15px;
    border-color: rgba(51, 51, 51, 0.1);
    border-width: 1px;
    border-style: solid;
    min-width: 150px;
    max-width: 30%;
    margin: 4% 1%;
}

iframe {
    padding: 20px 0;
}

.mapa {
    width: 100%;
}

.centradox {
    text-align: center;
}

.centradoy {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    padding: 20px 10px 20px 0;
}

input {
    padding: 1px 3px;
    margin: 5px;
}

textarea {
    padding: 0 100px 50px 3px;
    margin: 5px 0 10px 0;
}

select {
    padding: 3px 0;
    margin: 5px 0 10px 0;
}

.serviciosflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.serviciosflex2 {
    @extend .serviciosflex;
    align-items: initial;
    padding: 2%;
}

.pcontacto{
    text-align: left;
    font-size: 1.125rem;
    color: black;
    margin: 5% 30%;
}

.pcontacto2{
    font-size: 1.5rem;
    color: black;
}

.footertext {
    color: #fff;
    padding: 0 0.75vw 0 0.3vw;
    font-weight: 600;
    font-size: 0.8rem;
    text-overflow: ellipsis;
}

.footertext2 {
    color: #fff;
    padding: 0px 0.75vw 0.8em 0vw;
    font-size: 1rem;
}

input, select, textarea{
    max-width: 90%;
}

.contactotext {
    color: black;
    font-size: 1.125rem;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex5 {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.flexcontacto {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: black;
}

.flex2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    width: auto;
    align-items: flex-start;
    overflow: hidden;
}

.flex4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

.flex3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

.flexwidth2 {
    width: 50%;
    padding: 2em;
}

.flexwidth {
    width: 25%;
    padding: 2em;
}

.maintext {
    text-align: left;
    color: #fff;
    font-size: 1.125rem;
    padding: 0rem 19% 1.5rem 19%;
    margin: 0;
}

.maintext2{
    @extend .maintext;
    color: black
}

.flex6{
    @extend .flex;
    padding: 0;
    margin: 4%;
    margin-bottom: 8%;
    flex-wrap: wrap;
}

.subtitle2 {
    @extend .title;
    text-align: left;
    padding: 1.5rem 19%;
}

.beneficios {
    @extend .subtitle2;
    font-size: 2rem;
    color: black;
    padding-top: 2.5rem;
}

.form {
    @extend .pcontacto;
    margin: 4% 30%;
    padding: 2.5%;
    border-radius: 15px;
    border-color: rgba(51, 51, 51, 0.1);
    border-width: 1px;
    border-style: solid;
}

.zoom:hover {
    transform: scale(1.1);
    transition: all 1s;
    transition-timing-function: ease-out;
}

.galeria {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 1vw;
    justify-content: center;
    padding: 5vw;
}

.lab {
    width: 30vw;
    height: 30vw;
}

@media (max-width: 800px) {
    .galeria {
        grid-template-columns: 40vw 40vw;
    }

    .lab {
        width: 40vw;
        height: 40vw;
    }.centradoy

    .video {
        height: 40.95vw;
        width: 72.8vw;
    }

    .logo {
        width: 80%;
    }

    .footermedia {
        display: none;
    }

    .flexwidth,
    .flexwidth2 {
        width: 50%;
    }

    h2 {
        font-size: 1.2rem;
    }
    .parrafoserv{
        font-size: 1rem;
    }
    .servicios{
        padding: 2% 1% 1% 1%;
    }
}

@media (max-width: 600px) {
    a {
        font-size: 2vw;
    }

    .logo {
        display: none;
    }

}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: 70vw;
    }

    .lab {
        width: 70vw;
        height: 70vw;
    }

    textarea{
        max-width: 80px;
    }
}

@media (min-width: 992px) {
    header {
        height: 12vh;
    }
}

@media (max-width: 668px) {
    h2 {
        font-size: 1rem;
    }
    .parrafoserv{
        font-size: 0.8rem;
    }
    .servicios-icon{
        width: 1em;
        height: 1em;
        margin-right: 0.2em;
    }
}

main {
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
}