* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.footerimg {
  width: 100%;
  max-width: 140px;
}

.backimg, .backimg2 {
  background-image: url(../images/inicio3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
}

.backimg2 {
  background-image: url(../images/inicio2.jpg);
}

.title, .subtitle2, .beneficios {
  text-align: center;
  font-size: 2.2rem;
  color: #fff;
  padding: 1.5rem 1rem;
  margin: 0;
  font-weight: 600;
}

.firstp {
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
  padding: 1em 20%;
  margin: 0;
}

.button {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  background-color: rgb(0, 122, 121);
  border-radius: 100px;
  padding: 0.7em 1em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
}

.button2 {
  margin: 1.4em 0.5em 2.5rem 0.5em;
  display: inline-block;
}

.logo {
  width: 15vh;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  border-bottom-color: rgba(51, 51, 51, 0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: 600;
  min-height: 12vh;
}

nav {
  min-height: 12vh;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px;
}
nav ul li {
  list-style-type: none;
  font-size: 14px;
}

.principal {
  color: rgb(0, 122, 121);
  text-align: right;
}

li {
  list-style-type: none;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: rgb(0, 122, 121);
}

footer {
  background-color: rgb(0, 122, 121);
  font-weight: 600;
  border-top-color: rgba(51, 51, 51, 0.1);
  border-top-style: solid;
  border-top-width: 1px;
  color: #fff;
  min-height: 15vh;
}

.icon {
  width: 2.3vw;
  height: 2.3vw;
  margin: 0.6vw;
  min-width: 19px;
  min-height: 19px;
}

.mailicon {
  width: 2.4vw;
  height: 2.4vw;
  margin: 0.6vw;
  min-width: 19px;
  min-height: 19px;
}

.servicios-icon {
  width: 1.3em;
  height: 1.3em;
  margin: 0 0.2em 0 0;
  min-width: 19px;
  min-height: 19px;
}

.servicios-icon2 {
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  min-width: 19px;
  min-height: 19px;
}

main {
  padding: 12vh 0 0 0;
  min-height: 85vh;
}

.margin {
  margin: 0 18vw;
}

h2 {
  font-weight: 600;
}

h2,
h3 {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  text-align: center;
  color: #4a4a4a;
  font-weight: 500;
}

.parrafoserv {
  margin: 0;
  font-size: 1.125rem;
  padding: 1rem;
}

.servicios {
  padding: 2.5%;
  border-radius: 15px;
  border-color: rgba(51, 51, 51, 0.1);
  border-width: 1px;
  border-style: solid;
  min-width: 300px;
  max-width: 30%;
  margin: 4% 1%;
}

iframe {
  margin: 1.25rem 0;
  width: 62vw;
  height: 34.875vw;
}

.mapa {
  width: 100%;
}

.centradox {
  text-align: center;
}

.centradoy {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  padding: 0 1em 0.5em 0;
  margin: 0;
  color: #4a4a4a;
}

textarea,
input,
select {
  padding: 1px 3px;
  margin: 0 0 1em 0;
  color: #4a4a4a;
}

select,
input {
  width: 90%;
}

.input2 {
  width: 5em;
}

.input3 {
  width: auto;
  padding: 0;
  margin: 0 0 2em 0;
}

textarea {
  width: 100%;
}

.serviciosflex, .serviciosflex2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em 1em 0 1em;
  color: #4a4a4a;
}

.serviciosflex2 {
  align-items: initial;
  padding: 2%;
}

.pcontacto, .form {
  text-align: left;
  font-size: 1.125rem;
  color: #4a4a4a;
  margin: 5% 30%;
}

.pcontacto2 {
  font-size: 1.5rem;
  color: #4a4a4a;
}

.footertext {
  color: #fff;
  padding: 0 0.75vw 0 0;
  font-weight: 600;
  font-size: 0.8rem;
  text-overflow: ellipsis;
}

.footertext2 {
  color: #fff;
  padding: 0px 0.75vw 0.8em 0.6vw;
  font-size: 1rem;
  font-weight: 600;
}

.contactotext {
  color: #4a4a4a;
  font-size: 1.125rem;
}

.flex, .flex6 {
  display: flex;
  justify-content: space-around;
}

.flex5 {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.flexcontacto {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #4a4a4a;
}

.flex2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  width: auto;
  align-items: flex-start;
  overflow: hidden;
}

.flex4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.flex3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
}

.flexwidth2 {
  width: 50%;
  padding: 2em;
}

.flexwidth {
  width: 25%;
  padding: 2em;
}

.maintext, .maintext2 {
  text-align: left;
  color: #fff;
  font-size: 1.125rem;
  padding: 0rem 19% 1.5rem 19%;
  margin: 0;
}

.maintext2 {
  color: #4a4a4a;
}

.flex6 {
  padding: 0;
  margin: 4%;
  margin-bottom: 8%;
  flex-wrap: wrap;
}

.subtitle2, .beneficios {
  text-align: left;
  padding: 1.5rem 19%;
}

.beneficios {
  font-size: 2rem;
  color: #4a4a4a;
  padding-top: 2.5rem;
}

.form {
  margin: 4% 30%;
  padding: 2.5%;
  border-radius: 15px;
  border-color: rgba(51, 51, 51, 0.1);
  border-width: 1px;
  border-style: solid;
}

.zoom {
  transition: all 0.5s ease-out 0s;
}

.zoom:hover {
  transform: scale(1.1);
}

.logowpp {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 100px;
  right: 30px;
  background-color: #4dc247;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.logowpp:hover {
  background-color: white;
}

.iconfixed:hover {
  fill: #4dc247;
}

.iconfixed {
  display: inline;
  fill: white;
}

.galeria {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  gap: 1vw;
  justify-content: center;
  padding: 5vw;
}

.lab {
  width: 30vw;
  height: 30vw;
}

@media (max-width: 800px) {
  .galeria {
    grid-template-columns: 40vw 40vw;
  }
  .lab {
    width: 40vw;
    height: 40vw;
  }
  .centradoy .video {
    height: 40.95vw;
    width: 72.8vw;
  }
  .footermedia {
    display: none;
  }
  .flexwidth,
.flexwidth2 {
    width: 50%;
  }
  h2 {
    font-size: 1.2rem;
  }
  .parrafoserv {
    font-size: 1rem;
  }
  .servicios {
    padding: 2% 1% 1% 1%;
  }
  .form {
    margin: 4% 15%;
    padding: 4%;
  }
}
@media (max-width: 600px) {
  a {
    font-size: 2vw;
  }
}
@media (max-width: 480px) {
  .galeria {
    grid-template-columns: 70vw;
  }
  .lab {
    width: 70vw;
    height: 70vw;
  }
}
/*.servicios {
    min-width: 200px;
}*/
@media (min-width: 992px) {
  header {
    height: 12vh;
  }
}
@media (max-width: 959px) {
  .servicios-icon,
.servicios-icon2 {
    width: 1.7em;
    height: 1.7em;
    margin: 0 4em 1em 4em;
  }
}
main {
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
}

a:hover {
  color: white;
}/*# sourceMappingURL=estilo.css.map */